video {
    margin: 0;
    padding: 0;
    align-self: center;
    width: 40vw;
    height: 30vw;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navigation-bar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin-right: 55px;
}

#navigation-bar li {
    flex: 1 0 auto;
}

#navigation-bar a {
    text-decoration: none;
}

a {
    color: rgb(68, 255, 236);

}

a:hover {
    color:rgb(68, 255, 162)
}

#header {
    background-color: rgb(25, 56, 150);
    border-bottom: 15px groove silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100vw;
}

#header-text {
    font-size: 32px;
    color: #f1f1f1;
    margin-left: 25px;
}

#about {
    background-color: #e0e0e0;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: stretch;
    padding: 40px;
    gap: 30px;
}

.card {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 400px;
    max-height: 400px;
    border: 5px outset rgb(163, 162, 162);
    box-shadow: 10px 10px 8px rgba(143, 143, 143, 0.993);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.card p {
    padding: 0 20px;
}

.card h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 15px;
    color:rgb(24, 130, 179);
    align-self: stretch;
    text-align: center;
    border-bottom: 3px solid rgb(180, 179, 179);
}

.card ul {
    font-size: 20px;
}

.detail {
    color: slategrey;
    font-weight: bold;
    text-align: center;
    margin: 0 1rem;
}

#projects {
    padding: 5% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.project-header {
    font-size: 55px;
    font-weight: bold;
    border-bottom: 8px solid slategrey;
    align-self: stretch;
    text-align: center;
    padding-bottom: 15px;
    background-color: #e0e0e0;
    /*
    position: sticky;
    top: 128px;
    */
}

.project a {
    color:rgb(25, 56, 150);
    font-size: 28px;
    font-weight: bold;
}

.project p a {
    color:rgb(25, 56, 150);
    font-size: 24px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-self: stretch;
    padding: 0 30px;
    border-right: 5px solid gainsboro;
}

.project p {
    margin: 0;
    font-size: 24px;
    border-left: 3px solid purple;
    background-color: rgba(128, 0, 128, 0.048);
    padding: 30px;
}

.project h1 {
    background-color: #f1f1f1;
    text-align: center;
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: rgb(24, 130, 179);
    border: 2px solid slategrey;
    border-radius: 6px;
}

.project h2 { 
    padding-left: 1ex;
    font-size: 34px;
    color:rgb(117, 117, 117);
    font-weight: bold;
    margin: 10px 0;
    text-decoration: underline;
}

.project ul {
    font-size: 24px;
    margin: 0;
}

.wip {
    color:rgb(255, 196, 0);
    font-weight: bold;
}

.links {
    text-align: right;
}